<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        {% for dish, ingredients in recipe.items %}
            <li>{{ dish }}:</li>
            <ul>
            {% for ingredient, amount in ingredients.items %}
                <li>{{ ingredient }}: {{ amount }} </li>
            {% endfor %}
            </ul>
        {% endfor %}
    </ul>
</body>
</html>